#sticky-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 10;
    overflow: hidden;
}

#marquee {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  gap: 2rem;                  
  animation: marquee 10s linear infinite;
}


#marquee span {
  color: white;
  font-weight: bold;
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  flex: 0 0 auto;             
}

body{
    background-color: black;
}

.move-horizontal{
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}

@keyframes marquee{
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}

#contact{
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}


.contact-square{
    border: 3px groove maroon;
    border-radius: 15px;
    background-color: maroon;
    margin: 5rem;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

input, textarea{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(156, 4, 4);
    background: transparent;
    background-color: rgb(116, 37, 37);
    color: white;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(175, 161, 161);
    font-family: Arial, sans-serif;
}

textarea{
    height: 8rem;
}

input{
    font-size: 1em;
}

#two-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#two-inputs input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

textarea{
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.radio-group{ 
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding-bottom: 1rem;
}

.radio-group label{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: 0em;
    margin: 1rem;
    color: rgb(199, 190, 190);
    justify-content: flex-start;
}

#yearid{
    color: rgb(199, 190, 190);
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1em 0.5rem 1em 1em;
    padding: 0;
}

/* Just makes the radio buttons invisible */
.radio-group input[type="radio"]{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
}

.radio-label::before{
    content: '';
    background: white; 
    border-radius: 100%;
    border: 1px solid rgb(199, 190, 190);
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 1em;
    vertical-align: top;
    cursor: pointer;
    text-align: center;
    transition: all 250ms ease;
    margin-left: -1em;
}

.radio-label:has(input[type="radio"]:checked)::before {
  background: rgb(156, 4, 4);
  border-color: rgb(156, 4, 4);
  box-shadow: inset 0 0 0 2px white;
}

button[type=submit]{
    background-color: rgb(116, 37, 37);
    color: rgb(175, 161, 161);
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1em;
    cursor: pointer;
    border-radius: 5px;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

button[type=submit]:hover{
    background-color: rgb(134, 29, 29);
    color: rgb(192, 150, 150);
    transform: scale(1.33);
}

button[type=submit]:active{
    transform: scale(1);
    background-color: rgb(116, 37, 37);
    color: rgb(175, 161, 161);
}

/*CALENDAR SECTION______________________________________*/

#calendar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background-color: rgb(116, 110, 110);     
  color: white;
  min-height: 80vh;
  margin-top: 60px;
}


#calendar{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    flex-direction: column;
    background-color: rgb(155, 148, 148);
    height: 60vh;
    width: 80vw;
    margin: auto;
    transition: 0.2 ease;
    border: none;
    border-radius: 5px;
    gap: 2px;
}

.day-name{
    border: 1px solid black;
    display: flex;
    align-items: top;
    justify-content: center;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 0.5rem;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
    z-index: 0;
    transition: transform 0.25s ease, background-color 0.25s ease;

}

.day-name:hover{
    background-color: rgba(128, 124, 124, 1);
    cursor: pointer;
    transform: scale(1.05);
    z-index: 2;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}

.date{
    position: absolute;
    top: 0.5rem;
    right: 10px;
    font-weight: bold;
    font-size: 1rem;
    color: white;
}

.calendar-event{
    display: block;
    color: white;
    padding: 0.2rem;
    margin-top: 0.5rem;
    border-radius: 5px;
    font-size: 0.8rem;
    text-align: center;
    font-size: 1rem;
}


#calendar-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Arial', sans-serif;
}

#calendar-note{
    font-size: 1rem;
    margin-top: 0.5rem;
    font-family: 'Arial', sans-serif;
    margin-left: auto;
    margin-right: 8.5vw;
}

.event-details {
    margin: 0;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    color: rgba(29, 26, 26, 0.623);
    position: absolute;
}

.day-name:hover .event-details{
    opacity: 1;
    max-height: 100px;
    margin-top: 0.3rem;
}

.day-name:hover .calendar-event{
    opacity: 0;
}