#sticky-logo{
    display: flex;
    width: 100%;
    justify-content: center;
    height: 60px;
    background-color: black;
    position: sticky;
    left: -10px;
}

body{
    background-color: black;
}

.move-horizontal{
    color: white;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
}


#left-to-right{
    animation: left-to-right 20s linear infinite;

}
@keyframes left-to-right{
    0% {transform: translateX(-100%);}
    100% {transform: translateX(100%);}
}

#contact{
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 50px;
}


.contact-square{
    border: 3px groove maroon;
    border-radius: 15px;
    background-color: maroon;
    margin: 5rem;
    padding: 2rem;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

input, textarea{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(156, 4, 4);
    background: transparent;
    background-color: rgb(116, 37, 37);
    color: white;
    resize: none;
}

input::placeholder, textarea::placeholder{
    color: rgb(175, 161, 161);
    font-family: Arial, sans-serif;
}

textarea{
    height: 8rem;
}

#two-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

#two-inputs input{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}